/* RGK CONVERSOR ONLINE - ONLINE CONVERTER STYLES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1b2838;
  /*background-image: url('/img/background.png');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #c7d5e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #101217;
  height: 100px;
  /* Greater height */
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #214265;
}

.nav-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: 100px;
  margin-left: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: #c7d5e0;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #007bff;
  /* Cor azul da linha */
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #ffffff;
  /* Cor azul do texto no hover para outros links */
}

.nav-links a.active {
  color: #007bff;
  /* Cor azul do texto para o item ativo */
}

.nav-links a.active::after {
  width: 100%;
  /* Linha embaixo do item ativo */
}

.engine-title h1 {
  font-size: 48px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1100px;
  max-height: 1200px;
  margin: 40px auto;
  margin-bottom: 120px;
  padding: 20px;
  background-color: #101217;
  border-radius: 20px;
  border: 2px solid #214265;
  /* Borda fina azul ao redor do container */
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-info h3 {
  margin-bottom: 5px;
}

.profile-info p {
  color: #919A9C;
  padding: 2px;
}

.profile-info a {
  color: white;
  /* Cor do texto do link */
  text-decoration: none;
  /* Remove o sublinhado */
}

.profile-info a:visited {
  color: white;
  /* Cor do texto após o clique */
}

.profile-info a:hover {
  color: white;
  /* Cor do texto ao passar o mouse */
}

.profile-info a:active {
  color: white;
  /* Cor do texto enquanto o link é clicado */
}

.text-container p {
  margin-top: 30px;
  font-size: 18px;
  color: #D1D5DB;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.limit p {
  text-align: center;
}


form {
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Espaçamento entre os elementos do formulário */
}

form label {
  font-weight: bold;
  color: #007bff;
  display: block;
  margin: 10px 0 5px;
}

form select,
form input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #32353C;
  border: 1px solid #132941;
  color: #ffffff;
  border-radius: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

form select:focus,
form input:focus {
  border-color: #007bff;
  /* Cor de foco */
  background-color: #32353C;
  border-radius: 20px;
  /* Muda a cor de fundo para um tom mais claro */
}

button {
  width: 100%;
  max-width: 30%;
  padding: 10px;
  background-color: #1994FF;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

form label,
form select,
form input {
  width: 100%;
  max-width: 60%;
  /* Limita a largura dos inputs */
}

button:hover {
  background-color: #00668c;
}

.error {
  color: white;
  background-color: red;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.loading {
  display: none;
  margin-top: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0b72b9;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: #101217;
  padding: 50px 20px;
  /* Large footer */
  color: #c7d5e0;
  text-align: center;
  border-top: 2px solid #214265;
}

.footer li {
  margin-top: -20px;
}

.footer a {
  color: #66c0f4;
  text-decoration: none;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.copy p {
  margin-top: 40px;
  margin-bottom: -30px;
  color: #737377;
}

.copy a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.copy strong {
  color: #1994FF;
}

.copy img {
  width: 30px;
  height: 30px;
  margin-bottom: -10px;
}

.no-underline {
  text-decoration: none;
}